Options +FollowSymlinks
AddDefaultCharset UTF-8
<IfModule mod_php5.c>
	php_flag magic_quotes_gpc off
	php_flag magic_quotes_runtime off
	php_flag register_globals off
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex about.php
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php