html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background: url(images/pattern.jpg);
	font-family: 'fira_sansbook';
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
textarea{
	outline: none;
}

a{
	text-decoration: none;
}

.clear:before,
.clear:after {
   content: "";
   display: table;
}

.clear:after {
   clear: both;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Thin.otf);
}

@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url(fonts/HelveticaNeueCyr-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'ProximaNovaCond-SemiBold';
    font-weight: normal;
    font-style: normal;

    src: url(fonts/Proxima-Nova/ProximaNovaCond-Semibold.eot);
    src: url('fonts/Proxima-Nova/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
    url(fonts/Proxima-Nova/ProximaNovaCond-Semibold.woff) format('woff'),
    url(fonts/Proxima-Nova/ProximaNovaCond-Semibold.ttf) format('truetype');
}

					/*-----Главная-----*/

.wrapper{
	width: 100%;
	min-width: 1400px;
}

.header{
	width: 100%;
	background: #EFF3F7;
}

.header_content{
	overflow: hidden;
	width: 1400px;
	margin: 0 auto;
	height: 119px;
	position: relative;
}

a.logo{
	color: #6f727e;
	position: absolute;
	top:29px;
	left:89px;
}

a.logo span{
	display: block;
}

.site_name{
	text-transform: uppercase;
	font-size: 2.25em;
	border-bottom: 1px solid #6f727e;
	font-family: HelveticaNeueCyrBold;
	font-size: 36px;
	font-weight: bold;
}

a.logo .title{
	margin-top: 7px;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
}

.social_links{
	overflow: hidden;
	position: absolute;
	right: 110px;
	top: 35px;
}

.social_links ul{
	overflow: hidden;
}

.social_links ul li{
	float: left;
}

.social_links ul li a{
	float: left;
	margin-left: 24px;
	color: transparent;
}

.social_links ul li:first-child a{
	margin-left: 0;
}

.social_links ul li:last-child a{
	margin-right: 0;
}

.social_links .vk{
	background: url(images/sprite.png) no-repeat -47px 0;
	width: 46px;
	height: 46px;
}

.social_links .vk:hover{
	background: url(images/sprite.png) no-repeat 0 0;
	width: 46px;
	height: 46px;
}

.social_links .twitter{
	background: url(images/sprite.png) no-repeat -142px 0;
	width: 47px;
	height: 47px;
}

.social_links .twitter:hover{
	background: url(images/sprite.png) no-repeat -94px 0;
	width: 47px;
	height: 47px;
}

.social_links .facebook{
	background: url(images/sprite.png) no-repeat -238px 0;
	width: 47px;
	height: 47px;
}

.social_links .facebook:hover{
	background: url(images/sprite.png) no-repeat -190px 0;
	width: 47px;
	height: 47px;
}

.social_links .git{
	background: url(images/sprite.png) no-repeat -334px 0;
	width: 47px;
	height: 47px;
}

.social_links .git:hover{
	background: url(images/sprite.png) no-repeat -286px 0;
	width: 47px;
	height: 47px;
}

.header .gradient_line{
	position: absolute;
	top: 117px;
	display: block;
	background-color:  #1c667a;
	background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -o-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	width: 100%;
	height: 3px;
}

.content_main{
	width: 980px;
	margin: 39px auto;
	overflow: hidden;
}

.aside{
	width: 250px;
	float: left;
	margin-right: 60px;
}

.nav{
	margin-bottom: 25px;
	font-weight: 300;
}

.nav ul{
	background: #EFF3F7;
	border-radius: 4px;
}

.nav ul li{
	position: relative;
	margin-top: -2px;
	margin-bottom: -2px;
}

.nav ul li:first-child{
	border-radius: 4px 4px 0 0;
	margin-top: 0;
}

.nav ul li:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 230px;
	background:#3ba8c0;
	margin-left: 10px; 
}

.nav ul li:after{
	content: '';
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 230px;
	background:#3ba8c0;
	margin-left: 10px;
}

.nav ul li:last-child:after,
.nav ul li:first-child:after{
	content: '';
	height: 0;
}

.nav ul li:last-child:before,
.nav ul li:first-child:before{
	content: '';
	height: 0;
}

.nav ul li:last-child{
	border-radius: 0 0 4px 4px;
}

.nav ul li a:hover{
	color: #3BA8C0;
}

.nav ul li.activ{
	background: #3BA8C0;
}

.nav ul li.activ a{
	color: #fff;
	font-size: 1.45em;
}
 
.nav ul li a{
	display: block;
	font-size: 1.3em;
	line-height: 74px;
	padding-left: 29px;
	color: #959AA8;
}

.contact{
	background: #3BA8C0;
	border-radius: 4px;
	color: #fff;
}

.contact p{
	padding-left: 20px;
	font-size: 1.3em;
}

.contact p,
.contact a{
	height: 39px;
	line-height: 45px;
}

.contact a{
	display: block;
	font-size: 1.05em;
	color: #fff;
	padding-left: 80px;
	position: relative;
}

.contact a:hover{
	text-decoration: underline;
}

.contact a[href^='mailto']{
	background: #41B9D4;
}

.contact a[href^='mailto']:before{
	content: '';
	position: absolute;
	background: url(images/sprite.png) no-repeat -2px -51px;
	width: 21px;
	height: 16px;
	left: 42px;
	top: 12px;
}

.contact a[href^='tel']{
	background: #48cbe8;
}

.contact a[href^='tel']:before{
	content: '';
	position: absolute;
	background: url(images/sprite.png) no-repeat -28px -48px;
	width: 19px;
	height: 21px;
	left: 42px;
	top: 7px;
}

.contact a[href^='skype']{
	background: #51daf8;
}

.contact a[href^='skype']:before{
	content: '';
	position: absolute;
	background: url(images/sprite.png) no-repeat -52px -48px;
	width: 20px;
	height: 20px;
	left: 42px;
	top: 8px;
}

.contact a:last-child{
	border-radius: 0 0 4px 4px;
}

.content{
	margin-left: 310px;
}

.content .about{
	margin-left: 261px;
}

.content .about_me{
	background: #EFF3F7;
	border-radius: 4px;
	margin-bottom: 25px;
	width: 650px;
	overflow: hidden;
	padding: 0 0 20px 0;
}

.content .about_me p{
	color: #37424D;
	font-size: 1em;
	margin-bottom: 15px;
}

.content .about_me p span{
	color: #4A545D;
	font-size: 1.05em;
	font-family: 'fira_sansmedium';
	margin-right: 20px;
}

.wrap_h{
	display: block;
	margin-bottom: 15px;
}

.content h1{
	display: inline-block;
	line-height: 68px;
	border-bottom: 2px solid #3BA8C0;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 1.675em;
	color: #3BA8C0;
}

.content .foto{
	float: left;
	margin: 0px 37px 0 23px;
}

.content .foto img{
	height: 200px;
	width: 200px;
	border: 6px solid #3BA8C0;
	border-radius: 50%;
	box-sizing: border-box;
}

.content .skills_wrap{
	overflow: hidden;
}

.content .skills_wrap p.skills{
	float: left;
	margin-right: 3px;
}

.content span.skill{
	border-radius: 2px;
	background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	background: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	background: -o-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	background: -ms-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	height: 19px;
	line-height: 19px;
	font-size: 0.875em;
	padding: 0px 14px;
	margin: 0px 7px 3px 0;
	display: inline-block;
	color: #fff;
	font-family: 'ProximaNovaCond-SemiBold'; 
	font-size: 13px;
}

.content > div.work_experience p,
.content > div.education p{
	margin: 31px 0 0 130px;
	position: relative;
}

.content > div.work_experience p span,
.content > div.education p span{
	display: block;
}

.content > div.work_experience p:before{
	content: '';
	background: url(images/sprite.png) no-repeat 0 -74px;
	width: 36px;
	height: 34px;
	position: absolute;
	left: -65px;
	top: 6px;
}

.content > div.education p.universiti:before{
	content: '';
	background: url(images/sprite.png) no-repeat -41px -79px;
	width: 41px;
	height: 23px;
	position: absolute;
	left: -65px;
	top: 5px;
}

.content > div.education p.courses:before{
	content: '';
	background: url(images/sprite.png) no-repeat -87px -75px;
	width: 26px;
	height: 32px;
	position: absolute;
	left: -58px;
	top: 5px;
}

.footer{
	width: 100%;
	background: #EFF3F7;
}

.footer_content{
	overflow: hidden;
	width: 1400px;
	margin: 0 auto;
	height: 78px;
	position: relative;
}

.footer .gradient_line{
	position: absolute;
	top: 0;
	display: block;
	background-color:  #1c667a;
	background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -o-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	width: 100%;
	height: 3px;
}

.copiright{
	color: #4A545D;
	font-size: 0.8em;
	text-align: center;
	margin-top: 31px;
	font-family: 'fira_sansultralight';
}


					/*-----END Главная-----*/

					/*-----Страница Контактов-----*/

div.contact_main{
	padding-right: 0; 
}

.contact_main h1{
	display: block;
	padding: 0;
	text-align: center;
	height: 131px;
	line-height: 114px;
	border-bottom: 17px solid #67dffa;
	background: #48CBE8;
	color: #FFF;
}

.contact_main form{
	width: 400px;
	margin: 50px auto 183px;
	overflow: hidden;
	font-family: 'fira_sanslight';
}

.contact_main form span{
	display: inline-block;
}

form label{
	color: #959AA8;
	font-size: 1.2em;
}

form input,
form textarea,
form span,
.fileform{
	border: 1px solid #48cbe8;
	color: #48cbe8;
	border-radius: 4px;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
	color:#48cbe8;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder{
	color:#48cbe8;
}

.contact_main label[for="name"]{
	margin-right: 15px;
}

.contact_main label[for="name"],
.contact_main label[for="email"]{
	float: left;
	margin-bottom: 16px;
}

.contact_main label[for="email"]{
	clear: right;
}

.contact_main label[for="name"] input,
.contact_main label[for="email"] input{
	display: block;
	width: 170px;
	font-size: 13px;
	padding: 10px 10px;
}

.contact_main label textarea{
	display: block;
	padding: 10px 10px;
	width: 378px;
	font-size: 13px;
	resize: none;
	margin-bottom: 16px;
}

.contact_main label[for="captcha"]{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 34px;
}

.contact_main .captcha{
	background: url(images/captcha.jpg);
	width: 191px;
	height: 79px;
	float: left;
	margin-right: 15px;
}

.contact_main label[for="captcha"] input{
	display: block;
	width: 170px;
	font-size: 13px;
	padding: 8px 10px;
	margin-top: 21px;
}

.contact_main button{
	font-family: 'fira_sanslight';
	cursor: pointer;
	border-radius: 5px;
	border: none;
	height: 31px;
	font-size: 19px;
	color: #fff;
}

.contact_main button.send{
	background: #48CBE8;
	width: 139px;
	border-bottom: 2px solid #3BA8C0;
}

.contact_main button.clean{
	background: #849DB5;
	width: 141px;
	border-bottom: 2px solid #687b8f;
	float: right;
}

.contact_main button:hover{
	border-bottom: 2px solid #EFF3F7;
}


					/*-----END Страница Контактов-----*/

					/*-----Страница Мои Работы-----*/





.content div.my_work{
	padding: 0;
}

.my_work .wrap_h{
	margin-bottom: 32px;
}

.portfolio_work{
	width: 181px;
	float: left;
	margin: 0 17px 25px;
	text-align: center;
}

.portfolio_work a{
	color: #3BA8C0;
	font-size: 0.8em;
}

.portfolio_work p{
	margin: 0 5px;
	color: #4A545D;
	font-size: 0.95em;
}

/*Ховер Эфект*/

.view {
	width: 177px;
	height: 123px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
}

.view .mask, .view .content {
	width: 177px;
	height: 123px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view img {
	display: block;
	position: relative;
}

.view-tenth .mask {
   background-color: rgba(1, 108, 164, 0.75);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
   border: 2px solid #eff3f7;
   border-radius: 4px;
   background: transparent;
   margin-top: 50px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #eff3f7;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   display: inline-block;
   padding: 0 4px;
   font-size: 12px;
}

.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2 {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*END Ховер Эфект*/

.add_portfolio_work{
	border-radius: 4px;
	border: 1px dashed #3ba8c0;
	background: rgba(236, 251, 255, 0.64);
	width: 180px;
	height: 127px;
	float: left;
	margin: 0 17px 25px;
}

.add_portfolio_work_content{
	text-align: center;
	margin-top: 10px;
}

.add_portfolio_work_content span{
	display: block;
	background: url(images/sprite.png) no-repeat -118px -75px;
	width: 32px;
	height: 32px;
	margin: 0 auto 7px;
}

div.add_portfolio_work_content p{
	color: #3ba8c0;
	font-size: 13px;
}

/*Модпльное окно*/

#modal_form {
	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
	width: 362px;
	border-radius: 3px;
	background: #eff3f7;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -210px;
	margin-left: -200px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
}

/* Кнопка закрыть для тех кто в танке) */
#modal_form #modal_close {
	background: url(images/sprite.png) no-repeat -156px -79px;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_form h2{
	height: 40px;
	background: #48CBE8;
	border-bottom: 10px solid #67DFFA;
	border-radius: 4px 4px 0 0;
	font-size: 25px;
	line-height: 45px;
	padding-left: 13px;
	color: #FFF;
}

/* Подложка */
#overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: rgba(129, 142, 155, 0.75); /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}

.fileform { 
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 5px 10px;
   	width: 296px;
}
 
.fileform .selectbutton { 
    float: right;
    background: url(images/cloud_download.png) 11px 5px no-repeat, #48cbe8;
    width: 52px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 37px; 
    z-index:20;
}

.modal_form_content{
	margin: 15px 20px;
}

div.modal_form_content .error{
	background: rgba(249, 126, 118, 0.33);
	border: 1px solid #F97E76;
	color: #F97E76;
	border-radius: 4px;
	position: relative;
}

div.modal_form_content .error_close{
	font-size: 27px;
	position: absolute;
	right: 2px;
	top: -10px;
	cursor: pointer;
}

div.modal_form_content h3{
	border: none;
	font-size: 25px;
	padding-left: 9px;
}

div.modal_form_content p{
	color: #F97E76;
	margin: 0 0 5px 0;
	padding-left: 9px;
}

.modal_form_content label[for="project_name"] input,
.modal_form_content textarea{
	display: block;
	width: 296px;
	font-size: 13px;
	padding: 10px 10px;
}

.modal_form_content textarea{
	height: 107px;
	resize: none;
	margin-bottom: 10px;
}

.modal_form_content form label{
	font-size: 17px;
	margin-top: 5px;
	display: inline-block;
}

.modal_form_content button{
	cursor: pointer;
	border-radius: 5px;
	border: none;
	padding: 5px 0;
	font-size: 19px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
}

.modal_form_content button.add{
	background: #48CBE8;
	width: 139px;
	border-bottom: 2px solid #3BA8C0;
	margin: 0 auto;
}
/*END Модпльное окно*/

					/*-----END Страница Мои Работы-----*/